<h1>Items</h1>

<% @items.each do | item | %>

    <article class="item-wrap">
    <h2 class="item-title"><%= item.name %></h2>
    <%= form_for( item ) do | f | %>
        <%= f.check_box :preferred %>
    <% end %>
    </article>

<% end %>