// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 20px;
}

.item-wrap {
    display: block;
    padding: 20px;

    .item-title,
    form {
        display: inline-block;
    }

    .item-title {
        margin: 0;
        margin-right: 20px;
    }

    &:nth-child( odd ) {
        background-color: #EFEFEF;
    }
}